@{ ViewData["Title"] = "Отчеты"; }
<h1>Отчеты</h1>
<ul>
    <li><a asp-action="LowStockReport">Заказ поставщику (Дефицит)</a></li>
    <li><a asp-action="SalesReport">Отчет по продажам за период</a></li>
</ul>